<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bingfeng.pp.mapper.TSurveyDirectoryMapper">

    <resultMap type="TSurveyDirectory" id="TSurveyDirectoryResult">
        <result property="id"    column="id"    />
        <result property="surveyName"    column="survey_name"    />
        <result property="surveyModel"    column="survey_model"    />
        <result property="surveyState"    column="survey_state"    />
        <result property="userId"    column="user_id"    />
        <result property="sid"    column="sid"    />
        <result property="anItemLeastNum"    column="an_item_least_num"    />
        <result property="answerNum"    column="answer_num"    />
        <result property="createDate"    column="create_date"    />
        <result property="dirType"    column="dir_type"    />
        <result property="excerptNum"    column="excerpt_num"    />
        <result property="htmlPath"    column="html_path"    />
        <result property="jsonPath"    column="json_path"    />
        <result property="isShare"    column="is_share"    />
        <result property="parentId"    column="parent_id"    />
        <result property="surveyDetailId"    column="survey_detail_id"    />
        <result property="surveyQuNum"    column="survey_qu_num"    />
        <result property="surveyTag"    column="survey_tag"    />
        <result property="viewAnswer"    column="view_answer"    />
        <result property="visibility"    column="visibility"    />
    </resultMap>

    <sql id="selectTSurveyDirectoryVo">
        select id, survey_name, survey_model, survey_state, user_id, sid, an_item_least_num, answer_num, create_date, dir_type, excerpt_num, html_path, json_path, is_share, parent_id, survey_detail_id, survey_qu_num, survey_tag, view_answer, visibility from t_survey_directory
    </sql>

    <select id="selectTSurveyDirectoryList" parameterType="TSurveyDirectory" resultMap="TSurveyDirectoryResult">
        <include refid="selectTSurveyDirectoryVo"/>
        <where>
            <if test="tSurveyDirectory.surveyName != null  and tSurveyDirectory.surveyName != ''"> and survey_name like concat('%', #{tSurveyDirectory.surveyName}, '%')</if>
            <if test="tSurveyDirectory.surveyModel != null "> and survey_model = #{tSurveyDirectory.surveyModel}</if>
            <if test="tSurveyDirectory.surveyState != null "> and survey_state = #{tSurveyDirectory.surveyState}</if>
        </where>
        order by create_date desc
    </select>
</mapper>
